<h1>Log in</h1>
<form class="" action="/session" method="post">
  <%= auth_token %>
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="email">

  <input type="submit" value="Login">
</form>
