<h1>Sign up<h2>
<form class="" action="/users" method="post">
  <%= auth_token %>
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">

  <input type="submit" value="Sign up!">
</form>
